<section id="schedule">
    <div class="container" style="padding-top:40px">
        <h3>Schedule</h3>
        <table class="table" id="schedule">
            <tr>
                <th>Time</th>
                <th></th>
                <th>Text</th>
                <th></th>
            </tr>

            <% _.each(events, function(event) { %>
            <tr data-id="<%= event.id %>" data-model="user" id="row-<%= event.id %>">
                <td><%= event.date %></td>
                <td></td>
                <td><%= event.text %></td>

                <td>
                    <a href="#" class="btn btn-sm btn-danger" onclick="deleteEvent(<%= event.id %>);">Delete</a>
                </td>
            </tr>
            <%  }) %>
            <form role="form" action="/event/create" method="POST" class="form-inline" id="newEvent">
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="date" class="form-control" id="eventDate" name="eventDate">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="time" class="form-control" id="eventTime" name="eventTime"> 
                        </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="text" class="form-control" id="text" placeholder="Input Text" name="text">
                      </div>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-default">Add</button>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</section>

<div class="container panel panel-default">
    <div class="panel-body">
        <div class="t">
            <form role="form" action="/event/broadcast" method="POST" class="form-inline">
                <label for="message" style="width:400px">Send out message to everyone now:</label>
                <input type="text" class="form-control" id="eventDate" name="message">
                <button type="submit" class="btn btn-default">Broadcast</button>
            </form>
        </div>
    </div>
</div>